body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: perspective(300px) rotateX(5deg);

  background: url("./images/bg.jpg");
  background-size: cover;
}

#container {
}

#screen {
  border-radius: 10px;
  transform: translateY(-125px);
}
